.socials {

    margin: 2px;
    padding: 0px;

    ul {

        padding: 0px;

        li {
            list-style-type: none;
            width: auto;
            display: inline-block;
        }
    }
}